@font-face {
  font-family: 'Vabulous';
  src: url(../font/Vabulous.eot);
  /* IE9 Compat Modes */
  src: url(../font/Vabulous.woff2) format('woff2'), url(../font/Vabulous.woff) format('woff'), url(../font/Vabulous.ttf) format('truetype')
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin: 20px 0;
  background-color: lightblue;
  font-family: Vabulous;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid black 1px;
  margin: 20px;
  background-color: #D8D8D8;
  height: 620px;
}

.hidden {
  display: none;
}

h1 {
  margin: 10px 0 20px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

form {
  width: 220px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  margin: 5px;
  height: 25px;
  width: 90px;
  font-family: Vabulous;
}

#high-score {
  width: 120px;
}

h3 {
  padding-top: 8px;
  margin: 8px 0 8px;
  border-top: solid black 1px;
}



ol {
  text-align: left;
  padding: 0;
  margin: 0;
}

ul {
  padding-left: 10px;
}

.switches {
  transition: ease-in;
  transition-delay: 1s;
}

.game-details {
  padding-top: 20px;
  border-top: solid black 1px;
  display: flex;
  flex-direction: row;
  transition: ease-in;
  transition-delay: 1s;
  width: 220px;
  margin-top: 8px;
  justify-content: space-around;
}

p {
  width: 100px;
  padding-left: 10px;
}

.details {
  padding: 2px;
  margin: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: centercd;
  margin: 5px 0;
}

.numbers {
  margin: 5px 0;
  padding-left: 10px;
  border: solid black 1px;
  border-radius: 3px;
  height: 30px;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
}

.logo-box {
  margin: 0;
  pad: 0;
  align-self: baseline;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}

.sushi-board {
  width: 220px;
  height: 138px;
  height: auto;
  border-top: solid black 1px;
  padding-top: 20px;
}

.score-board {
  height: 160px;
  width: 220px;
  border-top: solid black 1px;
  padding-top: 20px;
  text-align: center;
}

h2 {
  margin: 0 0 10px;
}

small {
  font-family: monospace;
  font-size: 10px;
}

.game-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #F8C386;
  border-radius: 15px;
}

main {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  margin: 0;
}

.cell {
  background-color: #BCBCBC;
  border: solid darkcyan;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-size: contain;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cell:hover {
  background-color: black;
  opacity: 0.8;
}

.game-large {
  height: 5%;
  width: 5%;
  border-width: 2px;
}

.game-medium {
  height: 8.3%;
  width: 8.3%;
  border-width: 4px;
  font-size: 20px;
}

.game-small {
  height: 12.5%;
  width: 12.5%;
  border-width: 6px;
  font-size: 25px;
}

.cell.safe {
  background-color: white
}

.bomb.reveal {
  border-color: greenyellow;
  background-image: url(../images/wasabi.jpg)
}

.cell.flag {
  border-color: orangered;
  background-image: url(../images/flame_marker.jpg);
  background-size: contain;
}

.iso-0 {
  background-image: url(../iso_sprites/tile0.png);
}

.iso-1 {
  background-image: url(../iso_sprites/tile1.png);
}

.iso-2 {
  background-image: url(../iso_sprites/tile2.png);
}

.iso-3 {
  background-image: url(../iso_sprites/tile3.png);
}

.iso-4 {
  background-image: url(../iso_sprites/tile4.png);
}

.iso-5 {
  background-image: url(../iso_sprites/tile5.png);
}

.iso-6 {
  background-image: url(../iso_sprites/tile6.png);
}

.iso-7 {
  background-image: url(../iso_sprites/tile7.png);
}